GROQ_API_KEY=sua_chave_groq_aqui
# Caso queira mudar para Gemini no futuro:
# GOOGLE_API_KEY=sua_chave_google_aqui
DATABASE_URL=postgres://finance:finance123@localhost:5435/financedb
GO_BACKEND_URL=http://localhost:8080
LLM_PROVIDER=groq # Opções: groq, gemini
